<script>
    $('.closeIcon').on('click', () => {
        $('.side_navigation').toggleClass('open');
    })
    $('.openIcon').on('click', () => {
        $('.side_navigation').toggleClass('open');
    })
</script>
<!-- Local Script -->
<script src="/static/js/script.js"></script>
</body>

</html>