<script>
    $('.closeIcon').on('click', () => {
        $('.side_navigation').toggleClass('open');
    })
    $('.openIcon').on('click', () => {
        $('.side_navigation').toggleClass('open');
    })
</script>

</body>

</html>