<!DOCTYPE html>
<html>

<head>
    <title>Wikipedia Races</title>
    <!-- SocketIO -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!-- Wiki Stylesheets -->
    <link rel="stylesheet"
        href="//en.wikipedia.org/w/load.php?modules=mediawiki.legacy.commonPrint,shared|mediawiki.skinning.elements|mediawiki.skinning.content|mediawiki.skinning.interface|skins.vector.styles|site|mediawiki.skinning.content.parsoid|ext.cite.style&amp;only=styles&amp;skin=vector" />
    <link rel="stylesheet"
        href="//en.wikipedia.org/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector" />
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Local Style -->
    <link rel="stylesheet" href="/static/style/style.css" />
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="brand">
                <a href="/">WikiRaces</a>
            </div>
            <div class="links">
                <ul>
                    <li><a class="link" href="/">Home</a></li>
                    <li><a class="link" href="/room/join">Join a Game</a></li>
                    <li><a class="link" href="/room/create">Create a Game</a></li>
                </ul>
            </div>
        </div>
    </nav>