<%- include('partials/header') %>
<header>
    <div class="welcomeContainer">
        <h1 class="welcomeTitle">WikiRaces</h1>
        <p class="welcomeSubtitle">Web App for creating & playing Wikipedia races, using Wikipedia's own API.</p>
    </div>
</header>
<%- include('partials/footer') %>