<%- include('partials/header') %>
<div class="cookieWarning">
    <p>We Use Cookies</p>
    <p>By using our site, you agree to our use of cookies to deliver a better site experience.</p>
    <p>Click <a href="#">here</a> to view our cookie & privacy policy.</p>
    <button onClick="$('.cookieWarning').fadeOut(300)">Got it!</button>
</div>
<header>
    <div class="welcomeContainer">
        <h1 class="welcomeTitle">WikiRaces</h1>
        <p class="welcomeSubtitle">Web App for creating & playing Wikipedia races, using Wikipedia's own API.</p>
    </div>
</header>
<%- include('partials/footer') %>