<%- include('partials/header') %>
<div class="container">
    <div class="titleContainer">
        <h2 class="title">Join Game</h2>
    </div>
    <form method="post" action="" class="roomForm" id="joinForm" autocomplete="off">
        <div class="form-group">
            <label for="roomId">Game ID</label>
            <input type="text" id="roomId" name="roomId" required="required" />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required="required" />
            <input type="submit" value="Join Game" />
        </div>
    </form>
    <div id="joinRoomError" class="alert alert-danger">
        <p>Room with ID <b></b><span id="roomIdError"></span> does not exist.</p>
    </div>
</div>
<script>
    $(document).ready(() => {
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('id');
        if (myParam) {
            $('#roomId').val(myParam);
        }
        const errorParam = urlParams.get('error');
        if (errorParam) {
            $('#roomIdError').text(errorParam);
            $('#joinRoomError').css('display', 'block');
        }
    })

</script>
<%- include('partials/footer') %>