<%- include('partials/header') %>
<div class="container">
    <div class="titleContainer">
        <h1 class="title">Policies</h1>
    </div>
    <h2 class="subtitle">Privacy</h2>
    <h4 class="sectionTitle">Personal Information We Collect</h4>
    <p>We collect personal information from you directly, namely the username when joining a game. When connecting to
        the service, your information, such as IP addresses and access times are logged and stored, for analytical
        purposes.</p>
    <h4 class="sectionTitle">How We Use Your Personal Information</h4>
    <p>The data collected is used in a variety of ways, the username collected directly from you is used to identify
        yourself in a game of WikiRaces. Your IP address and connection information are used for analytics, traffic
        monitoring and traffic management.</p>
    <h4 class="sectionTitle">Where We Process Information</h4>
    <p>All data is processed in the EEA, specifically the U.K.</p>
    <h4 class="sectionTitle">Your Rights</h4>
    <p>You may have rights to access, recieve a copy of, or delete your information, if any exists in our system, in
        accordance with any local
        regulations.</p>
    <h4 class="sectionTitle">Changes to the Privacy Policy</h4>
    <p>Any updates to the Privacy Policy will be published to this page. If there are any significant changes, a
        notification will be shown upon entering the site in future.</p>
</div>

<%- include('partials/footer') %>