<%- include('partials/header') %>
<style>
    nav {
        display: none !important;
    }
</style>
<div class="wikiContent">
    <div class="wikiArticle">
        <h2 id="wikiPageTitle"><%- title %></h2>
        <%- body %>
    </div>
</div>

<script>
    //Remove image links
    const imageLinks = $('.image');
    imageLinks.attr('href', '');
    const magnifyButtons = $('.magnify a');
    magnifyButtons.remove();
</script>
<style>
    .image img {
        pointer-events: none;
    }
</style>

<%- include('partials/footer') %>