<%- include('partials/header') %>
<style>
    nav {
        display: none !important;
    }
</style>
<div class="wikiContent">
    <div class="wikiArticle">
        <h2 id="wikiPageTitle"><%- title %></h2>
        <%- body %>
    </div>
</div>

<%- include('partials/footer') %>