/* Portrait iPhone */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        font-size: 20px;
    }
    .brand {
        font-size: 200%;
    }
    .links {
        display: none;
    }
    .openIcon {
        display: block;
    }
    .roomForm {
        width: 80%;
        margin: 0 auto;
        font-size: 125%;
    }
    .roomForm input[type="submit"] {
        padding: 20px;
        border: 6px solid black;
        border-image: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
        );
        border-image-slice: 1;
    }
    .roomInfo {
        width: 90%;
        margin: 0 auto;
    }
    iframe {
        width: 100%;
        margin: 5px;
    }
    .cookieWarning {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 140%;
    }
}
/* Phone to Tablet Query */
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
    .cookieWarning {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
/* iPads (Tablet Query) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .cookieWarning {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
/* 720p */
@media screen and (min-device-width: 1280px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cookieWarning {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
